.config
.repo/
.userconfig
Makefile
abi/
bionic/
bootable/
build/
dalvik/
development/
device/
external/
frameworks/
gaia/
gecko/
gonk-misc/
hardware/
libcore/
ndk/
out/
prebuilt/
prebuilts/
rilproxy/
sdk/
system/
