.config
.repo/
.userconfig
*.swp
Adreno*
Makefile
abi/
backup-*/
bionic/
bootable/
build/
dalvik/
development/
device/
download-galaxy-nexus/
download-nexus-s/
external/
frameworks/
gaia/
gecko/
gonk-misc/
hardware/
kernel/
libcore/
ndk/
objdir-gecko*/
out/
prebuilt/
prebuilts/
rilproxy/
sdk/
system/
vendor/
