.config
.repo/
.userconfig*
.var.profile
*.swp
*.pyc
*.fix_b2g_stack.cache
Adreno*
Makefile
abi/
backup-*/
bionic/
bootable/
brcm_usrlib/
build/
dalvik/
development/
device/
download-*/
external/
frameworks/
gaia/
gecko/
gonk-misc/
hardware/
kernel/
libcore/
libnativehelper/
librecovery/
ndk/
objdir-gecko*/
out/
prebuilt/
prebuilts/
rilproxy/
sdk/
system/
vendor/
